.transactionHistory {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
}
th {
  background-color: #3374c9f7;
  color: white;
}
tr:nth-child(even) {
  background-color: #82b2bdb0;
}
tr:hover {
  background-color: rgba(170, 0, 255, 0.637);
}
